body {
	background-color: #BFEFFF;
}

table {
	float: left;
	clear: left;
	margin-right: 50px;
}


.firstcolumn {
	border-left: none;
}

th {
	text-align: left;
	padding-left: 15px;
}

td {
	padding: 7px;
	border-left: 1px solid #7A8B8B;
}

.add1 {
	margin-left: 3px;
}

.add2 {
	margin-left: 12px;
}

#submit {
	margin: 10px;
}

#clear {
	margin: 10px;
	margin-left: 25px;
}

#error {
	color: red;
}

#error2 {
	color: green;
}

div {
	float: right;
	margin-right: 75px;
}

button {
	clear: right;
	float: left;
}

.logininfo {
	margin-bottom: 5px;
	clear: right;
	float: right;
}
